{% extends "admin/layout.html" %} {% block content %}
<main role="main">
  <div class="pb-3 bg-light">
    <div class="container pt-5">
      <h2 class="display-3 text-center fw-bold">
        Welcome to Admin Panel of the Web App!
      </h2>
      
    </div>
  </div>

  <div id="admin_home">
    <img  src="../../static/img/library.jpg">
  </div>
  <br>
  <p class="display-7 text-center fw-bold">University admin who has the log-in can manage the progress of the student and host who attended the networking event matching process.</p>
  
  <p class="display-7 text-center fw-bold">Main functionality for admin to check the student details, placement status, manually matching student with the host if a student have not had a match.</p>

</main>
{% endblock %}
