{% extends "admin/layout.html" %} 
{% block content %}


<main  role="main" class="p-5">
    <div class="container" id="report">
        <div class="d-flex justify-content-between mt-4 mb-2">
            <div>
                <h2 class="fs-4 text-primary">Industry Host And Project Report</h2>
            </div>
        </div>

        <div class="d-flex justify-content-right mt-4 mb-2">
            <div>
                <a class="btn btn-primary btn-md m-2" 
                    href="{{url_for('admin_module.Edit_project_report')}}"
                    role="button">
                    Edit Project Descriptions
                </a>
            </div>
        </div>
        
        <table class="table table-striped table-hover ">
            <thead class="table-primary">
                <tr>
                    <th class="col-md-3" scope="col">Organization Name</th>
                    <th class="col-md-6"scope="col">Project Description</th>
                    <th class="col-md-3" scope="col">Student Response (Yes/No)</th>
                </tr>
            </thead>
            <tbody>
                {% for update_profile in student_profile_list %}
                <tr>
                    <td>{{update_profile[0]}}</td>
                    <td>{{update_profile[1]}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <input type="button" class="btn btn-primary btn-sm" value="Generate PDF" id="PrintNow"
               onclick="pdf_reports('report',{
                margin:       [0.25,0.25],
                filename:     'hostReport.pdf',
                pagebreak: {mode: ['css', 'legacy'], avoid:['tr','td']},
                image:        { type: 'jpeg', quality: 0.98 },
                html2canvas:  { scale: 2 },
                jsPDF:        { unit: 'in', format: 'A3', orientation: 'portrait' }})" />
    </div>
    
    <script type="text/javascript" src="{{url_for('static', filename='js/PDF_generator.js')}}"></script> 
    
</main>
{% endblock %}