{% extends "student/layout.html" %}
{% block content %}
<div class="container">
</br>
    <h2 class="mt-3">Interview Outcome Form</h2>
</br>
    {% if interview %}
    <form action="/student/interview/add" method="POST" class="row g-3 needs-validation" novalidate>
        <input name="Studentid" id="Studentid" type="hidden" value="{{interview[0]}}">
        <div class="container">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="date" class="form-label">Interview Date</label>
                    <input type="date" class="form-control" name="date" id="date" required="required">
                    <div class="invalid-feedback">Please enter the date the interview took place</div>
                </div>
                
                
                    
                
                <div class="col-md-4 form-group">
                    <label for="hostid" class="form-label">Industry Host ID</label>
                    <select class="form-select" name="hostid" id="hostid">
                        {% for company in interview %}
                        <option value="{{company[1]}}, {{company[5]}}">{{company[2]}}</option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>
            <div class="row py-4">
                <div class="col">
                    <textarea class="form-control" id="comments" name="comments" rows="4"></textarea>
                </div>
            </div>
            
            <div class="row d-flex justify-content-center p-2">
                <div class="col-md-4 ">
                    <label for="hostid" class="form-label">Rate the meeting</label>
                        <select class="form-select" name="rating" id="rating">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                </div>
            </div>

            <div class="row d-flex justify-content-center p-2">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="Confirmed_Placement" id="Confirmed_Placement" value=1>
                        <label class="form-check-label" for="Confirmed_Placement">Confirmed Placement</label>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center p-2">
                <div class="col-md-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-sm m-2">Submit Form</button>
                    <button type="reset" class="btn btn-primary btn-sm m-2">Reset Form</button>
                </div>
            </div>
        </div>
    </form>
    {% else %}
        <a>
            <span>
                No Potential Matches Found Yet.
            </span>
        </a>
    {% endif %}
</div>
{% endblock %}