{% extends "admin/layout.html" %}
{% block content %}

</br></br>
<div class="container">
    <div class="d-flex justify-content-between mt-4 mb-2">
        <div>
            <h2 class="fs-4 text-primary">Manual Potential Placement Student Selection</h2>
        </div>
    </div>    

        <form action="{{url_for('admin_module.student_matching_edit',student_id=student_id)}}" method="POST" class="row g-3 needs-validation" novalidate>
            <input type="hidden" id="student_id" name="student_id" value={{student_id}}>
            <table class="table table-striped table-hover mx-auto table-sortable">
                <thead class="table-primary">
                    <tr>
                        <th class="col-md-3 sort" scope="col" >Industry Host</th>
                        <!-- Project Description -->
                        <th class="col-md-3 sort" scope="col">Contant Info</th>
                        <th class="col-md-3 sort text-center" scope="col">Selection Count</th>
                        <th class="col-md-3 text-center" scope="col">Student Response</th>
                    </tr>   
                </thead>
                <tbody>
                    {% for industry_host in industry_hosts %}
                    <tr>
                        <!-- align-items-center -->
                        <!-- <div class="d-flex justify-content-center"> align-middle text-center -->
                        <td>
                            {{industry_host[1]}}
                        </td>
                        <!-- </div> -->
                        <!-- <div class="d-flex justify-content-center"> text-center -->
                        <td class="align-middle">
                            {{industry_host[3]}} <br>
                            {{industry_host[4]}} <br>
                            {{industry_host[5]}} 
                        </td>
                        <!-- </div> -->
                        <!-- <div class="d-flex justify-content-center"> -->
                        <td class="align-middle text-center">
                            {{industry_host[2]}}
                        </td>
                        <!-- </div> -->
                        <!-- <div class="d-flex justify-content-center"> -->
                        <td class="align-middle text-center">
                            
                            <input class="form-check-input" type="checkbox" id="add_match_industry"
                                name="add_match_industry" value={{industry_host[0]}} />
                            <!--refer to the student response from python flask-->
                            <label class="form-check-label mx-2" for="add_match_industry">Add Option</label>
                            
                            <!-- <input class="form-check-input" type="radio" id="response2"
                            {# name="response_{{interested[0]}}" #} checked="checked" /> -->
                            <!--default as none-->
                            <!-- <label class="form-check-label" for="no">No</label> -->
                        </td>
                        <!-- </div> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center">
                <button type="reset" class="btn btn-primary btn-md d-flex align-items-center m-2">Reset</button>
                <button type="submit" class="btn btn-primary btn-md d-flex align-items-center m-2">Submit</button>
            </div>

        </form>
    
</div>

<script src="../../static/js/Table_sort.js"></script>
{% endblock %}