{% extends "admin/layout.html" %} {% block content %}

<main role="main" class="p-5">
    <div class="container">
        <div class="d-flex justify-content-between mt-4 mb-2">
            <div>
                <h2 class="fs-4 text-primary">Placement Report</h2>
            </div>
        </div>


        <div>
            <table class="table table-striped table-hover">
                <thead class="table-primary">
                    <tr>
                        <th class="col" scope="col">Student Name</th>
                        <th class="col" scope="col">Company Name</th>
                        <th class="col" scope="col">Project</th>
                    </tr>
                </thead>
                <tbody>
                    {% for place in placement %}
                    <tr>
                        <td>{{place[1] + place[2]}}</td>
                        <td>{{place[3]}}</td>
                        <td>{{place[4]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}